---
# URL of the http proxy
proxy: http://proxy.my.domain:3128

# IP / hostname of the NFS server
nfs_server: nfs.my.domain

# Directory exported in the NFS server
nfs_export: /srv/nfs

# YUM/RPM mirror to use
yum_mirror: http://centos.xfree.com.ar/6.4

#----------------------------------------------------------------------
# Infrastructure
#----------------------------------------------------------------------
# These variables are used if you setup the 'infrastructure' server with the 'site-infrastructure.yml' playbook

# network + netmask allowed to use the exported directory
nfs_export_network: 192.168.122.0/24

#----------------------------------------------------------------------
# Hadoop configuration
#----------------------------------------------------------------------
# These variables are used to install & configure Hadoop

# If this variable is defined, the script won't install OpenJdk. Will install Oracle/Sun JDK 6u31 (requires some files in files/ directory)
#use_custom_jdk6: 1

# IP / hostname of the Hadoop NameNode
hadoop_namenode: nn.my.domain

# IP / hostname of the Hadoop Secondary NameNode
hadoop_secondarynamenode: secnn.my.domain

# IP / hostname of the Hadoop Job Tracker
hadoop_jobtracker: jt.my.domain

# Url from where to download Hadoop. If not defined, uses the US server.
# You can define here the url from a mirror. For example, for Argentina:
#hadoop_download_url: http://mirrors.dcarsat.com.ar/apache/hadoop/common/hadoop-1.2.1/hadoop-1.2.1-bin.tar.gz

# Hadoop version - used to create the directory for logs: /srv/nfs/hadoop-{{hadoop_version}}-logs
# The default value is defined in general.yml. You can overide the value here.
#hadoop_version: 1.2.1

# The directory created when unzipping the Hadoop tgz
# The default value is defined in general.yml. You can overide the value here.
#hadoop_unzip_dir: hadoop-1.2.1

#----------------------------------------------------------------------
# Kickstart configuration - Not needed if you don't use KickStart
#----------------------------------------------------------------------
# These variables are used to generate the KickStart file

# The IP from where KickStart get the configuration
ks_server_ip: 192.168.122.2

# Username of the user to create
ks_username: admin

# The password of the user to create
ks_password: adminpassword

# Keyboard layout
ks_keyboard: en

# The timezone
ks_timezone: America/Argentina/Cordoba

# Domain
ks_network_domain: internal.example.com

# Netmask
ks_network_mask: 255.255.255.0

# Gateway
ks_network_gw: 192.168.122.1

# DNS
ks_network_dns: 192.168.122.1
